<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jbbs_message" >

  <select id="select" resultType="cc.javaee.bbs.model.Message" parameterType="cc.javaee.bbs.model.Message" >
    SELECT 
	    t1.id, 
	    t1.createtime, 
	    t1.useridsend, 
	    t1.useridaccept, 
	    t1.messagetype, 
	    t1.isread,
	    t1.title, 
	    t1.content,
	    t2.loginname loginnamesend,
	    t3.loginname loginnameaccept 
    FROM jbbs_message t1
	LEFT JOIN jbbs_user t2 ON t1.useridsend=t2.id
	LEFT JOIN jbbs_user t3 ON t1.useridaccept=t3.id
    where 1=1
    <if test="id != null" >
	  and  t1.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="useridaccept != null" >
	  and  t1.useridaccept = #{useridaccept,jdbcType=VARCHAR}
    </if>
    <if test="isread != null" >
	  and  t1.isread = #{isread,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="findpage" resultType="cc.javaee.bbs.model.Message" parameterType="cc.javaee.bbs.model.PageBean" >
    SELECT 
	    t1.id, 
	    t1.createtime, 
	    t1.useridsend, 
	    t1.useridaccept, 
	    t1.messagetype, 
	    t1.isread,
	    t1.title, 
	    t1.content,
	    t2.loginname loginnamesend,
	    t3.loginname loginnameaccept 
    FROM jbbs_message t1
	LEFT JOIN jbbs_user t2 ON t1.useridsend=t2.id
	LEFT JOIN jbbs_user t3 ON t1.useridaccept=t3.id
    where 1=1
    <if test="bean.id != null" >
	 and   t1.id = #{bean.id,jdbcType=INTEGER}
    </if>
    <if test="bean.useridaccept != null" >
	  and  t1.useridaccept = #{bean.useridaccept,jdbcType=INTEGER}
    </if>
    <if test="bean.starttime != null  and bean.starttime!=''" >
        and t1.createtime >= '${bean.starttime} 00:00:00'
    </if>
    <if test="bean.endtime != null  and bean.endtime!=''" >
       <![CDATA[   and t1.createtime <= '${bean.endtime} 23:59:59' ]]>
    </if>
    <if test="bean.messagetype != null and bean.messagetype!=''" >
        and t1.messagetype = #{bean.messagetype,jdbcType=VARCHAR}
    </if>
    order by t1.createtime desc
    LIMIT ${pageNo}, ${pageSize}
  </select>
  <select id="findpagecount" resultType="int" parameterType="cc.javaee.bbs.model.PageBean" >
    SELECT 
	    count(1)
    FROM jbbs_message t1
	LEFT JOIN jbbs_user t2 ON t1.useridsend=t2.id
	LEFT JOIN jbbs_user t3 ON t1.useridaccept=t3.id
    where 1=1
    <if test="bean.id != null" >
	  and  t1.id = #{bean.id,jdbcType=INTEGER}
    </if>
    <if test="bean.useridaccept != null" >
	  and  t1.useridaccept = #{bean.useridaccept,jdbcType=INTEGER}
    </if>
    <if test="bean.starttime != null  and bean.starttime!=''" >
        and t1.createtime >= '${bean.starttime} 00:00:00'
    </if>
    <if test="bean.endtime != null  and bean.endtime!=''" >
       <![CDATA[   and t1.createtime <= '${bean.endtime} 23:59:59' ]]>
    </if>
    <if test="bean.messagetype != null and bean.messagetype!=''" >
        and t1.messagetype = #{bean.messagetype,jdbcType=VARCHAR}
    </if>
  </select>
  
  
  
  
  
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from jbbs_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cc.javaee.bbs.model.Message" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jul 04 09:35:05 CST 2017.
    -->
    insert into jbbs_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="useridsend != null" >
        useridsend,
      </if>
      <if test="useridaccept != null" >
        useridaccept,
      </if>
      <if test="messagetype != null" >
        messagetype,
      </if>
      <if test="isread != null" >
        isread,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="useridsend != null" >
        #{useridsend,jdbcType=INTEGER},
      </if>
      <if test="useridaccept != null" >
        #{useridaccept,jdbcType=INTEGER},
      </if>
      <if test="messagetype != null" >
        #{messagetype,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        #{isread,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="cc.javaee.bbs.model.Message" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Jul 04 09:35:05 CST 2017.
    -->
    update jbbs_message
    <set >
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=VARCHAR},
      </if>
      <if test="messagetype != null" >
        messagetype = #{messagetype,jdbcType=VARCHAR},
      </if>
      <if test="isread != null" >
        isread = #{isread,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where useridaccept = #{useridaccept,jdbcType=INTEGER} 
    <if test="id != null" >
    	and  id = #{id,jdbcType=INTEGER} 
    </if>
  </update>
</mapper>