@charset "utf-8";

/* common */
	* { word-wrap: break-word; }
	ul,ol,li,span,p,form,h1,h2,h3,4,h5,h6,dl,dt,dd { margin: 0; padding: 0; border: 0; z-index:inherit; }
	img,a img { border:0; margin:0; padding:0; }
	ul,ol,li { list-style:none; }
	* { margin:0; padding:0; }
	
	html,body {font:12px/1.6  Microsoft YaHei, Helvetica, sans-serif; color:#4C4C4C; padding: 0;margin: 0;}
	input,select,textarea,button { font:14px/1.5  Microsoft YaHei, Helvetica, sans-serif; }
	body, ul, ol, li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, .pr, .pc { margin: 0; padding: 0; }
	table { empty-cells: show; border-collapse: collapse; }
		caption, th { text-align: left; font-weight: 400; }
	ul li, .xl li { list-style: none; }
	h1, h2, h3, h4, h5, h6 { font-size: 1em; }
	em, cite, i { font-style: normal; }
		a img { border: none; }
	label { cursor: pointer; }
	.bg { background:#fff; }
	.rq { color: red; }

	a:link,a:visited,a:hover { color:#4C4C4C; text-decoration:none; }
	.blue { color: #0086CE; }
	a.blue:link, a.blue:visited, a.blue:hover { color:#0086CE; text-decoration:none; }
	.grey { color:#9C9C9C; }
	a.grey:link, a.grey:visited, a.grey:hover { color:#9C9C9C; text-decoration:none; }
	.orange { color:#F60; }
	a.orange:link,a.orange:visited,a.orange:hover{color:#F60;text-decoration:none }

	.z { float: left; } .y { float: right; }
	.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .cl { zoom: 1; }
	.overflow{overflow:hidden;}
	.none { display:none; }
	.vm { vertical-align: middle; }
		.vm * { vertical-align: middle; }
	.hm { text-align: center; }
	
	.bl_none { border-bottom:0 !important; }
	.bl_line { border-bottom:1px solid #DDD; }
	.b_radius {border-radius:3px;}
	
	.b_m { margin:10px;}
	.b_p { padding:10px}
	
	.mtn { margin-top: 5px !important; }
	.mbn { margin-bottom: 5px !important; }
	.mtm { margin-top: 10px !important; }
	.mbm { margin-bottom: 10px !important; }
	.mtw { margin-top: 20px !important; }
	.mbw { margin-bottom: 20px !important; }
	
	.pr, .pc { vertical-align: middle; margin: 0 5px 1px 0; padding: 0;+margin-right: 2px;_margin-right: 2px; }
#sb-site{padding-top:50px;}
/*----- header -----*/
	.visitclienttip { background:#BDD5E6; height:30px; padding:5px 10px;border-bottom:1px solid #F7F7F7;}
	.visitclienttip p  { line-height:30px; }
	.visitclienttip a.btn_download { background:#3D98CF; border-radius:5px; float:right; display:block; width:70px; text-align: center; line-height:24px; color:#E9EFF3; margin-top:3px; box-shadow:1px 2px 2px rgba(0, 0, 0, 0.1); }
	.visitclienttip a.btn_download:hover {background:#3094CF;}
	
	.nav { background:#fff; height: 32px; text-align:center; font-size:18px; padding:8px 10px 8px 0;border-bottom:solid #fbfbfb 1px; }
	.nav .name {display:inline-block; height:30px; overflow:hidden; white-space:nowrap; width:50%;}
	
	.hdc { padding:10px 10px 0; background: url(./images/nav_b_line.png) repeat-x 0 100%; margin-bottom:10px; }
	.hdc h2 { float: left; padding: 0 20px 8px 10px; }
	.user_fun { }
	.user_fun li { float:right; padding:15px 5px 20px; }
	.user_fun li a,.nav .icon_edit a { display:block; width:28px; height:28px; background: url(./images/icon.png) no-repeat; line-height:2000px; overflow:hidden; }
	.user_fun .on { background: url(./images/arrow_top.png) no-repeat 50% 100%;}
	.user_fun a.icon_userinfo { background-position:0 0;}
	.user_fun a.icon_userinfo:hover,.user_fun .on a.icon_userinfo { background-position:0 -28px;}
	.user_fun a.icon_threadlist { background-position:-28px 0; }
	.user_fun a.icon_threadlist:hover,.user_fun .on a.icon_threadlist { background-position:-28px -28px; }
	.user_fun a.icon_search { background-position: -56px 0;}	
	.user_fun a.icon_search:hover,.user_fun .on a.icon_search { background-position: -56px -28px;}
	.user_fun a.icon_hotthread { background-position: -112px 0;}	
	.user_fun a.icon_hotthread:hover,.user_fun .on a.icon_hotthread { background-position: -112px -28px;}
	#usermsg { position:relative;}
	.user_fun .icon_msg { position: absolute;background: url(./images/icon_msg.png) no-repeat; width:10px; height:10px; display:block; top:14px; left:26px; }
	.nav .icon_edit a { background-position: -84px 0;}	
	.nav .icon_edit a:hover { background-position: -84px -28px;}
	
	.category { position: relative;}
	.category .name { padding:0 10px; display: inline-block; width: 50%; color: #333; height:30px; overflow:hidden;white-space:nowrap;}
	.category .name img { margin-left:10px; vertical-align: middle; }
	.category .name .tit {white-space:nowrap; display:inline-block; max-width:90%; overflow:hidden; font-weight:400; }	
	.subname_list {position: absolute; top:90px; left:0; width:100%; z-index:10;}	
	.subname_list ul {background:#fff; border:2px solid #DDD; border-top:0; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); width: 118px; font-size:14px; padding:0; line-height:38px; margin: 0 auto;}
	 .subname_list li { border-bottom:1px solid #EEE; }
	 .subname_list a:hover { color:#2782BA; }
	 .subname_list a { display:block; white-space: nowrap; margin: 0 10px; overflow: hidden; text-align:center;}

/*----- forumlist -----*/
	.wp {}
	.wm { }
	.bm { margin-bottom: 10px; }
	.bm_c { padding: 0; }

	.bm_h .o { float: right; width: 31px; }
		.bm_h .o img { float: right; cursor: pointer; }
	.bm_h .i { padding-left: 10px; }
	.bm_h .pn { margin-top: 4px; }
	.bm_h { background-color: #F9F9F9;
border-top: 1px solid #EBEBEB; }
	.bm_h h2 { height: 40px; }
	.bm_h h2 a { display:block; margin:0 31px 0 10px;  font-size:18px; line-height:40px; font-weight:400; }
	
	.sub_foruml { background: #FFF; border:1px solid #EDEDED; }
	.sub_foruml li { height:70px; line-height:70px; border-bottom:1px solid #e2e1e1;  overflow:hidden; }
	.sub_foruml li:last-child { border-bottom:none;}
	
	.subipc {float:left;}
	.subipc a img{width:30px; height:30px; padding:5px; float:left;margin: 10px 10px 0 5px;}
	.subblock {}
	.subblock h3{ font-size:1.8rem; height:30px; line-height:40px; font-weight:normal;}
	.subblock p{height:40px; font-size:14px; line-height:35px; color:#848484; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; font-weight:400;}
	.sub_foruml li .num { background:#f90; border:solid #fff 2px; color:#FFF; float: right; font-size: 12px; height: 25px; line-height: 25px; margin-right:10px; margin-top: 7px; padding: 0 10px;border-radius:15px;  }
	.forumlistnve{width:100%; text-align:left; height:50px;  border-bottom: 1px solid #ebebeb;
}
	.forumlistnve a{display: block;font-size: 14px;width: auto;float: left;height: 24px;line-height: 24px;padding: 3px 14px;margin: 10px 5px;
border-radius: 5px;}
	.postbutton .post{ background:#3c4650; color:#fff;}
	.postbutton .qt{background: #f1f2f6;color: #7C7C7C;}
	
	
/*-- threadlist --*/
	.threadlist { padding:0px; clear:both;}
	.threadlist .thread_tit { padding: 0; border-bottom:1px solid #D9D8D8; line-height:40px; color: #3c4650; font-size:15px; font-weight:700; border-top:solid #fbfbfb 1px;}
	.threadlist .thread_tit a,.threadlist .thread_tit a:hover,.threadlist .thread_tit a:visited{  border-radius:3px; margin:0 5px; padding:4px 10px; font-weight:500; color:#4C4C4C; }

	.threadlist li { position:relative; border-bottom:1px solid #f1f2f6; font-size:16px;}
	.threadlist li a {  padding:7px 30px 7px 10px; font-size:16px; line-height:25px; }
	.threadlist li a  img{margin-bottom:-2px;}
	.threadlist .num { position:absolute; background: url(../images/icon_num.png) no-repeat 0 3px; right:10px; bottom:10px; padding:0 0 0 18px; font-size:12px; color:#C0C0C0; }

	.threadlist .by { font-size:12px; color:#A5A5A5; display:block; }
	.s_forouthreadlist{width:96%; margin:0 2%; }
	.s_forouthreadlist .tsm,.s_forouthreadlist .tsm tbody{width:100%;}
	.s_forouthreadlist .tsm tbody tr{margin:15px 0; float:left;}
	.s_forouthreadlist .tsm tbody tr td ul li{ float:left; margin:0 8px;}
	.s_forouthreadlist .tsm tbody tr td ul .a a{color:#1f97fd;}
	.threads_types{width:96%; padding:0 2%;}
	.threads_types li{float:left; height: 36px;line-height: 36px;padding: 0 10px;}
	.threads_types li a{font-size: 14px;padding: 3px 6px;border-radius: 4px;}
	.threads_types li .a{ background:#3c4650; color:#fff;}
/*----- post -----*/
	.btn_pn { width:44px; height:31px; overflow:hidden; border:0; line-height:31px;}
	.btn_pn_grey { background:#EFEFEF; color:#999;}
	.btn_pn_blue { background:#3c4650; color:#FFF; }
	
	.post_msg_from li,.post_from li{ line-height:38px; padding:0 10px; font-size:16px;  }
	.post_msg_from .px,.post_from .px { width:100%; background:none; padding:0; font-size:16px; }
	.post_msg_from textarea,.post_from textarea{ border:0; width:100%; background:none; padding:5px 0; font-size:16px;}
	.post_from .sort_sel { background:none; width:100%; border: 0;font-size:16px; color:graytext; margin-left:-2px; }
	
	.post_imglist { padding:15px 0 0 15px; }
	.post_imglist li { position:relative; float:left; padding: 0 10px 0 0; }
	.post_imglist li .del { position: absolute; left:-5px; top:-10px; }
	.post_imglist li .p_img img { padding:2px; border:1px solid #DDD; }

	.sec_code { padding:10px; color:#999; }
	.sec_code .px { color:#999; }
	
	.s_postthreadtypes{width:100%; float:left; border-bottom: 1px solid #DDD;}
	.s_postthreadtypes ul li{float: left;height: 40px;line-height: 40px;padding: 0 10px;}
	.s_postthreadtypes ul li a{font-size: 14px;padding: 3px 6px;border-radius: 4px;}
	.s_postthreadtypes ul li .a{color: #fff;background: #3c4650;}
	
	.s_postpoll{float:left; width:96%; padding:10px 2%;border-bottom: 1px solid #D9D8D8;border-top: 1px solid #fbfbfb; font-size:14px;}
	.s_postpoll .s_txt{width:100%; border-radius:5px; border:solid #d1d1d1 1px;}
	.s_postpoll p{padding:10px 0; font-size:14px;}
	.s_postpollline{height:30px;}
	.s_postpoll .sadd{margin:15px 0;}
	.s_postpoll .sadd dl dt{ margin:5px 0;}
	.s_postpoll .sadd dl dd{ margin-bottom:10px;}
	.s_postpoll .sppoll{float:left; width:100%;}
	.s_postpoll .sppoll .pxs{width:160px; border-radius:5px; border:solid #d1d1d1 1px; line-height:30px;}
	.s_postpoll .sppoll dl dt{font-size:14px; margin:10px 0 0 0;}
	.s_postpoll .sppoll dl dd{margin:5px 0 20px 0;}
	.s_postpoll .sppoll dl .optional{margin-top:30px;}
	.s_postpoll table tbody tr{margin:10px 0; width:100%; float:left; }
	.s_postpoll table tbody tr th{ margin-right:20px; float:left;}
	.s_postpoll .d{color:#A8A8A8; margin:10px 0;}
	.s_postpoll .px{width:160px; border-radius:5px; border:solid #d1d1d1 1px; line-height:30px;}
	.s_postpoll .post_true{ text-align:right;}
	
/*----- viewthread -----*/
	.postlist h2 { clear:both; font-size:16px; line-height:1.5em; font-weight:bold; padding:10px; border-bottom:solid #D9D8D8 1px;  }
	.s_tshow{font-size: 12px;width: 100%;display: block;font-weight: 300;text-align: right; color:#B6B6B6;}
	.plc { border-bottom:1px solid #D9D8D8; border-top:solid #fefefe 1px; overflow:hidden; position:relative; }
	.plc .avatar { position:absolute; left:10px; top:9px; display:inline; }
	.plc .avatar img{ border-radius:3px;}
	.plc .pi { margin-left:55px; margin-right:10px; padding:7px 0; }
	.plc .pi .authi{ }
	.plc .pi .authi li em{ float:right; font-style: normal; }	
	.plc .pi .message{ font-size:15px; margin-left: -45px;}
	.plc .pi .message .jammer{ font-size:10px; color:#F0F0F0; }
	.plc .pi .message img,.plc .pi .img_one img { margin:0px 4px 0px 0; max-width:100%; max-height:100%; }
	.plc .pi .message .quote{ padding:10px 10px 7px 11px; margin:5px 0; border:1px dashed #D7D7D7; font-size:12px; }
	.plc .pi .message .pct{ padding:10px 10px 7px 11px; margin:5px 0; border:1px dashed #D7D7D7; font-size:12px; }
	.plc .pi .img_list { margin:4px auto;  }	
	.plc .pi .img_list li { float:left; width:83px; height:83px; margin:0 4px 4px; text-align:center;vertical-align: middle; line-height:83px; }
	.plc .pi .img_list li a { display:block;}
	
	.manage { margin:4px -10px 0 0; position:absolute; top:38px; right:5px; height:50px; }
	.button { width:53px; height:39px; color:#FFF; background:#3c4650; margin:0 2px; border:0; font-size:12px; }
	.button2 { width:50px; height:32px; color:#FFF; background:#3c4650; margin:7px 0 3px 0; border:0; font-size:12px; }
	
	.fastpost .input { width:100%; height:34px; text-indent:7px; margin-top:2px; border:1px solid #D9D8D8; } 
	.search { padding:7px 10px;}
	.search .input { width:100%; height:30px; text-indent:7px; margin-top:2px; border:1px solid #D9D8D8;}
	.viewsort{background: #E7E7E7;padding: 10px;border-radius: 5px;margin: 10px 0;}
	.viewblue{color:#3DA6F8;}
		
/*----- pop -----*/	
	.tip { width:300px; height:180px; background: url(./images/pic_bg.jpg) repeat; margin:0 auto;border:1px solid #D7D7D7; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;text-align:center;
	}
	    .tip dt { padding:30px 20px; height:75px; font-size:15px; }  
		.tip dd { background:#FFF; border-top:1px solid #D7D7D7; }
		.tip dd a { margin-left:15px; }
	
/*----- page -----*/
	.page { text-align:center; margin:20px 2%; width:96%; }	 
		.page a { border:1px solid #D7D7D7; border-radius:5px; padding:5px 9px; background:#FFF; } 
	.page label{ display:none;}
	.page select{ border: 1px solid #CCC; height: 28px;}

/*----- myinfo -----*/
	.user_avatar { text-align:center; margin:20px 0; }
		.user_avatar img { border-radius:45px; border:1px solid #FFF; box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); width:60px; height:60px; }
		.user_avatar .name { color:#2782BA; font-size:16px; line-height:40px; }

	.user_box { background:#FFF; border-radius:5px; border:1px solid #DDD; margin:0 10px; }
		.user_box li { line-height:38px; border-bottom:1px solid #DDD; padding:0 20px 0 10px; color:#333; font-size:14px; font-weight:700; }
		.user_box li span { color:#2782BA; float:right; }
		.btn_exit { padding:10px; }
		.btn_exit a { background:#e44444; width:100%; height:41px; display:block; line-height:41px; overflow:hidden; margin:0 auto; font-size:18px; text-align:center; color:#fff; font-weight:800px;}
			.btn_exit a:hover { background:#de4b4b;}

	.myinfo_list { width:300px; margin:0 auto; }
	.myinfo_list li { background:#f1f2f6; width:47%; height:73px; float:left; margin:0 0 10px 5px;}
		.myinfo_list li a { display:block; line-height:73px; text-align:center; font-size:16px; }
		.tit_msg { position: relative; }
		.tit_msg img { position:absolute; left:108px; top:28px; }
		
/*----- view message -----*/
	.friend_msg { padding:5px 0; }
	.friend_msg .avat img,.self_msg .avat img{  background: #F2F2F2; border-radius:3px; display: inline-block; }
	.self_msg { padding:5px 0; }
	.friend_msg .date { color:#BEBEBD; padding-left:12px; }
	.self_msg .date { color:#BEBEBD; padding-right:12px; text-align:right; }
	
	.dialog_green .dialog_c { background: url(./images/dialog_bg.png) repeat-y; width:230px;}
	.dialog_green .dialog_t { background: url(./images/dialog_t.png) no-repeat left top; width:180px;font-size:15px; line-height:25px; padding:15px 25px 0 25px;}
	.dialog_green .dialog_b { background: url(./images/dialog_b.png) no-repeat left bottom; width:230px; height:17px; overflow:hidden; }
	.dialog_white .dialog_c { background: url(./images/dialog_bg.png) repeat-y right top; width:230px; }
	.dialog_white .dialog_t { background: url(./images/dialog_t.png) no-repeat right top; width:180px;font-size:15px; line-height:25px; padding:15px 25px 0 25px;}
	.dialog_white .dialog_b { background: url(./images/dialog_b.png) no-repeat right bottom; width:230px; height:17px; overflow:hidden; }
	
	.reply .px { border-radius:4px; padding:7px 10px; width:95%; border:1px solid #D9D8D8; }
	.reply .px:focus { color:#4C4C4C;}

/*----- login & register -----*/
	.loginbox { padding:10px;}
	.login_from { background:#FFF; border-radius:4px; border:1px solid #DDD; margin-bottom:15px; }
	.login_from li { border-bottom:1px solid #DDD; line-height:45px; padding:0 10px; color:#AFAFAF; font-size:14px; }
		.btn_login .pn,.btn_register .pn { background:#3c4650; width:100%; height:45px; display:block; line-height:46px; overflow:hidden; margin:0 auto; color:#FFF; font-size:18px; font-weight:800; text-align:center;border:0; }
		.btn_login .pn:hover,.btn_register .pn:hover { background: #3c4650; color:#F0EFEF; }
		.btn_qqlogin a { background: url(./images/qqlogin.png) no-repeat; width:300px; height:45px; display:block; line-height:2000px; overflow:hidden; margin:0 auto; }
		.btn_qqlogin a:hover { background: url(./images/qqlogin_on.png) no-repeat; }
		.loginbox p { line-height:35px; font-size:14px; color:#AFAFAF;}
		.reg_link a { background: url(./images/icon_arrow.png) no-repeat 100% center; padding-right:10px; color:#AFAFAF; }
		.px{ border: 0; padding: 2px 4px; line-height: 17px; font-size:15px; }
		.px:focus { color:#4C4C4C;}
		.p_fre { width: auto !important; }
		.sel_list { width:100%;border: 0; padding: 2px 4px; font-size:14px; font-weight:700; }
		.login_select { display: block; position: relative;}
		.login_select .login-btn-inner { display: block; font-size: 14px; font-weight:700; min-width: 0.75em; overflow: hidden; position: relative; text-overflow: ellipsis; white-space: nowrap; }
		.login_select select { position: absolute; top: 0; width: 100%; z-index: 2; cursor: pointer; height: 3em; left: 0; max-height: 100%; min-height: 100%; opacity: 0.0001;}
		.login-btn-text { float:left; }
		.login_select .icon-arrow { background: url(./images/icon_arrow.png) no-repeat 15px 17px; width:30px; height:30px; float:right; }
	
	.login_pop { background:#F1F1F1; padding: 0 14px 20px; }	
	.log_tit { text-align:center; font-size:16px; font-weight:700; line-height:45px; }
	.icon_close { background: url(./images/icon_close.png) no-repeat 0 0; width:13px; height:11px; overflow:hidden; display:block; margin-top:17px; }
	.btn_qqlogintext { margin:10px 0; }
	.btn_qqlogintext a.text_qqlogin { background: url(./images/qqlogintext.png) no-repeat; width:120px; height:25px; display:block; line-height:2000px; overflow:hidden; }
	.login_pop .login_from { margin-bottom: 10px; }
	.login_pop .login_check { margin:0 0 10px 0; color:#A5A5A5; }
	.q_reg a { color:#A5A5A5; font-size:14px; }
	.s_code { color:#A5A5A5; }
	.s_code .px { color:#A5A5A5; }
	.s_code .px:focus { color:#4C4C4C; }
	a.other_c { color:#A5A5A5; margin-left:5px; }
	
/*----- collection -----*/
	.coll_list { background:#FFF; margin:10px; border:1px solid #DDD; padding:0 10px; }
		.coll_list li { border-bottom:1px solid #DDD; line-height:45px; }
			.coll_list li a { display:block; font-size:16px; padding: 0 0 0 10px; }

	.jump_c { padding:130px 25px; font-size:15px; }
	.grey { color:#A5A5A5; }
	.jump_c a { color:#2782BA; }
	
/*----- page message & pm-----*/
	.pmbox li { position:relative; color:#A5A5A5; border-bottom:1px solid #DDD; font-size:14px; height:55px; overflow:hidden; }
	.pmbox li .avatar_img img { background:#F2F2F2; position:absolute; left:10px; top:7px; border-radius:3px; display:inline-block; }
	.pmbox li a { display:block; padding:5px 10px 5px 55px; }
	.pmbox li .num { background:#35A3E6; color:#FFF; float: right; font-size: 14px; height: 21px; line-height: 21px; padding: 0 10px;border-radius:10px; }
	.pmbox li .time { float:right; }
	.pmbox li .name { color:#333; }
	.grey { color:#A5A5A5; }
	
/*----- clew con -----*/
	.clew_con { padding:10px; }
	.clew_con .tit {line-height:40px; font-size:14px; }
	.clew_con p { margin:10px 0; }
	.clew_con  .button {background:#3D98CF; border-radius:5px; display:inline-block; margin-left:6px; margin-top:3px; width:80px; height:26px; text-align: center; line-height:24px; color:#E9EFF3; box-shadow:1px 2px 2px rgba(0, 0, 0, 0.1); cursor: pointer; }
	.clew_con  .button:hover {background:#3094CF;}
	
	
/*----- footer -----*/
	.footer { text-align:center; line-height:2em; color:#A5A5A5; padding:10px 0 0 0; width:100%; clear:both;}
		.footer a { margin:0 6px; color:#A5A5A5; }

/*----- to top --------*/
	.scrolltop { display:block; position:fixed; right:8px; height:38px; width:38px; z-index:99; background:rgba(64, 64, 64, .9); border-radius:1px; box-shadow:0 0 2px rgba(0,0,0,.3); }
	.scrolltop:after { content:""; position:absolute; top:11px; left:10px; width:18px; height:3px; border-radius:1px; background:white; border-radius:1px; }
	.scrolltop:before { content:""; position:absolute; top:15px; left:10px; display:inline-block; border-left:9px solid transparent; border-right:9px solid transparent; border-bottom:9px solid white; border-top:0; -webkit-transform:scale(1,1.2222); -webkit-transform:translate(0,1px); transform:scale(1,1.2222); transform:translate(0,1px); }
	.scrolltop.bottom { bottom:8px; }
	.scrolltop.bottom:after { top:23px; }
	.scrolltop.bottom:before { border-top:9px solid white; border-bottom:0; top:12px; }
.s-daohang{ background-color:#3c4650;  height:50px; width:100%; position:fixed; top:0;left: auto;right: auto; z-index:999;}
.s-daohang a{display:block; height:40px;padding-top:5px;}
.s-daohang a img{height:40px;line-height:40px;}

.s-daohang-title a,.s-daohang-title a:visited{ display:block;color:#fff; font-size:18px; height:40px; line-height:40px; font-weight:500; width:auto; padding:0;margin-top:5px;}
.s-daohang-title{float:left;padding-left:0.625rem;}
.s-daohang-title img{ float:left;}
.s-width-50{width:50px;}
.s-width-100{width:100px;}
.s-float-left{float:left;}
.s-float-right{float:right}
.s-center{text-align:center; margin:0 auto; }

.wrap_l{  background:#222; width:100%;}
.wrap_l .sb-slidebar{ left:0; display:block;} 
.wrap_l .s-daohang{ position:fixed; }
.wrap_l .sb_site{position: fixed;width: 100%; height: 100%;}

.sb-slidebar{ background:#222; float:left; height:100%; position:absolute; display:none;}
.s-cbl-ul{ float:left; width:100%; }
.s-cbl-ul li{list-style-type:none; border-bottom:solid #111111 1px; border-top:solid #383838 1px; float:left; width:100%; }
.s-cbl-ul li a{display:block; padding:0; height:3em;line-height:3em;  color:#fff;  font-size:18px; text-decoration:none; float:left; width:100%;}
.s-cbl-ul li a:hover,.s-cbl-ul li a:active{background-color:#333332;}
.s-cbl-ul li a img{padding:0.5em; float:left; height:32px; width:32px;}



.ajaxload{border-radius: 2px;
width: 97%;
height: 40px;
line-height: 40px;
font-size: 14px;
color: #868B98;
text-align: center;
border: 1px solid #f1f2f6;
margin: 15px auto;
background: #f7f7f7; }
.ajaxload a,.ajaxload a:visited{display:block; font-size:16px; width:auto; border-bottom:solid #f1f2f6 1px;  height:40px; line-height:40px; padding:0 12px; text-align:center;}
.s_biaoqian{margin:10px; margin-top:20px; float:left;}
.s_biaoqian a,.s_biaoqian a:visited{ font-size:16px; color:#0086CE; padding:0 5px;}
.xiangguantiezi{margin:10px; }
.xiangguantiezi h3{font-size:16px; color:#333; border-left:solid #3c4650 5px; padding:0 7px;}
.xiangguantiezi ul li{height:35px; line-height:35px; width:100%; border-bottom:dashed #D9D8D8 1px; float:left;}
.xiangguantiezi ul li a,.xiangguantiezi ul li a:visited{ float:left; width:96%;margin:0 2%; font-size:14px; color:#393838;text-overflow:ellipsis; overflow:hidden; white-space:nowrap; line-height:35px;}
.tagitem{height:35px; line-height:35px; border-bottom:solid #d9d8d8 1px; padding-left:10px;}
.gengduo{text-align:center; margin:0 auto;}
.tagso {margin:10px 2%; width:96%; margin-bottom:20px; float:left;}
.tagso a{ color:#fff; padding:0 8px; margin:5px 8px; background:#3c4650; font-size:14px; border-radius:3px; display:block; text-align:center;
height:35px; line-height:35px; width:auto; float:left;}

.potlist {margin:0; padding:0; float:left; margin-bottom:30px; width:100%;}
.potlist ul li{width:100%; border-bottom:solid #d9d8d8 1px; border-top:solid #fbfbfb 1px; float:left;}
.potlist ul li a{display:block; width:96%; height:auto; float:left; margin:2%;}
.potlist ul li a h3{width:100%; font-size:16px; font-weight:700px; margin-bottom:10px;}
.potlist ul li a img{width:100px; height:80px; overflow:hidden; float:left; margin-right:10px;}
.potlist ul li a p{ font-size:14px; color:#6f6f6f;}
.potlist ul li a span{ display:block; width:100%; float:right; text-align:right; font-size:12px; color:#cbcbcb;}
.pot_load{ font-size:16px; height:40px; line-height:40px; float:left; width:100%; text-align:center; border-top:solid #fafafa 1px;}
.pot_load a,.pot_load a:hover,.pot_load a:visited{display:block;border-bottom:solid #D9D8D8 1px;  height:40px; line-height:40px;}
.s-mbx{width:100%; height:40px; line-height:40px; float:left; border-bottom:solid #D9D8D8 1px; clear:both; font-size:14px; padding:;}
.s-mbx a{ text-indent:10px;}
.s-wztop{width:92%; float:left; padding:10px 4%; border-bottom:solid #d9d8d8 1px;}
.s-wztop h1{width:100%; font-size:16px; font-weight:500px; margin-bottom:10px; }
.s-wztop p a{ font-size:14px; color:#0086ce;}

.pot-neirong{ width:92%;  border-top:solid #fbfbfb 1px; float:left; padding:10px 4%; font-size:14px;}
.pot-neirong a img{ overflow:hidden; width:100%; }
.s-sxy{width:100%; border-bottom:solid #fbfbfb 1px; border-top:solid #d9d8d8 1px; margin:10px 0; float:left; font-size:14px;}
.s-sxy ul li{border-bottom:solid #d9d8d8 1px; border-top:solid #fbfbfb 1px; height:40px; line-height:40px; }
.s-sxy ul li a {display:block; height:100%;text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.s-list-b {width:100%; float:left; margin:10px 0; font-size:14px;}
.s-list-b  h3{ font-size:14px; border-bottom:10px; text-indent:10px;}
.s-list-b ul li{ margin:0 10px; border-bottom:dashed #d9d8d8 1px; height:35px; line-height:35px; }
.s-list-b ul li a,.s-list-b ul li a:hover,.s-list-b ul li a:visited{display:block; height:100%; width:100%; color:#0086ce; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.s-pt-list{width:94%; border-bottom:dashed #d9d8d8 1px; margin:10px 3%; padding-bottom:10px; font-size:14px;}
.s-pt-list p{margin-bottom:10px;}
.s-pt-list p a{color:#0086ce; }
.potpl_from{float:left; width:92%; margin:10px 4%; margin-bottom:30px;}
.potpl_from textarea{ border: solid #d9d8d8 1px; text-indent:10px; width:100%; background:none; padding:5px 0; font-size:16px;}

#masonry {margin:10px 0;}
#masonry .imgsitem {width:100%;height:auto; margin-bottom:10px;}
#masonry .imgs {width:100%;height:auto; margin:0; max-height:250px; overflow:hidden;}
#masonry .imgs img{width:100%; height:auto;  display:block;}
#masonry .imgs a{width:100%;height:30px; color:#fff; }
#masonry .imgsnail {width:100%; height:30px; line-height:30px;background:#000; opacity:0.3;  position:relative; top:-40px; text-align:left;z-index:1; margin-top:-35px; margin-bottom:-35px;}
#masonry span{color:#fff; font-size:14px; text-indent:10px; z-index:1200; height:45px; line-height:30px; display:block; position:relative;  top:-30px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

.pd5{border-top:solid #D9D8D8 1px;  margin:20px 0;}
.s-bor-t{border-top:solid #fefefe 1px;}
.txt{ background:#fff;border: 1px solid #D9D8D8; width:100%; border-radius:2px;}
.txt_s{ background:#fff;border: 1px solid #D9D8D8; border-radius:2px;}

.s_flxx{margin:0; width:100%;border-bottom: 1px solid #D9D8D8; float:left;}
.s_flxx a{color:#3c4650;}
.s_flxx_div{width:100%; padding:10px 0;}
.forumthreadtypes{float:left; width:100%; border-bottom: 1px solid #D9D8D8;border-top: 1px solid #fbfbfb;}
.fontsearch_div{ border-bottom:solid #d9d8d8 1px; border-top:solid #fbfbfb 1px;}
#fontsearch{width:100%;text-align:left;}
#fontsearch tbody tr{width:96%;  margin:8px 0; padding:0 2%; display:block; float:left; }
#fontsearch tbody tr th{ width:10%; display:block; float:left; color:#3c4650;}
#fontsearch tbody tr td {width:90%; display:block; float:right;}
#fontsearch tbody tr td ul li{float:left; padding:3px 6px;}
#fontsearch tbody tr td ul li a{ font-size: 14px;padding: 3px 6px;border-radius: 5px;border: solid 1px #ddd;background: #fff;float: left;}
.a a{color:#fff; background:#B4B8BB;}
#searhsort{width:96%; padding:10px 2%; float:left; border-bottom: 1px solid #D9D8D8;}
#searhsort div{margin:4px 0; width:100%;}
#searhsort div span{width:100%; }
#searhsort div span label{padding:5px;}
.s_inputtext{border:solid #d9d8d8 1px; height:35px; line-height:35px; width:100%;}
.s_fab_xx{width:96%; margin:10px 2%; padding:0;}
.s_fab_xx tbody tr{ width:100%; border-bottom:solid #d9d8d8 1px; padding:5px 0; display:block; }
.s_fab_xx_f{ width:10%; height:35px; line-height:35px; display:block;}
.s_fab_xx_r{margin-left:10%; width:90%; display:block;}
.s_xx_fl{width:96%; border-bottom:solid #d9d8d8 1px; padding:10px 2%}
.s_xx_fl ul li{width:auto;}
.s_xx_fl ul li a{ padding:4px 8px; width:auto; font-size:14px; font-weight:600; border-radius:4px;}

.scroll{width:40px;height:40px;background:#000; border-radius:4px; color:#fff; text-align:center; line-height:40px; opacity:0.7;position:fixed;right:10px;bottom:30px; font-size:18px; font-weight:900;}
.index_img{float:left;}

.g_mbx{border-bottom: 1px solid #ebebeb; padding:5px 10px;background-color: #f7f7f7;}
.g_mbx div{height: 32px;overflow: hidden;}
.g_mbx a{font-size:14px; font-weight:normal;}
.g_mbx em{font-size: 20px;padding: 0 7px;color: #D1D1D1;}



#g_menu{ width:100%; height:auto; background:#3c4650; position:fixed; top:50px; left:0; z-index:33;}
#g_menu li{ height:36px; line-height:36px;border-bottom: solid #025ba8 1px;border-top: solid #027be5 1px;width: 100%;}
#g_menu li a{ color:#fff; font-size:14px; float:left; width:25%; line-height:36px; text-align:center;}
.subname_lists {width:100%;}
.subname_lists li{border-bottom: 1px solid #D9D8D8;border-top: 1px solid #fbfbfb;font-size: 16px;}
.subname_lists li a{height:40px; line-height:40px; font-size:14px; padding-left:10px;}

.s-width-zj a{line-height: 42px;color:yellow;font-weight:bold;font-size:16px;}
.top_navs ul li{float:left;width:25%;text-align:center;font-size: 14px;float: left;height: 34px;line-height: 34px;-webkit-box-sizing: border-box;box-sizing: border-box;border:1px solid #ccc;}
.top_navs ul li:nth-child(1),.top_navs ul li:nth-child(2),.top_navs ul li:nth-child(3){border-right:none;}
.top_navs ul li a{text-align:center;display:block;width: 85%;float: left;}
.iconfont {
    width: 5px;
  height: 5px;
  overflow:hidden;
  zoom: 1;
  border-right: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #FFF;
  margin-top:12px;float:right;
  margin-right:5px;
}
.tnav_menu ul li{z-index:9999;width:100%;}
.tnav_menu ul li a{width:100%;}
.tnav_menu{ 
    position: relative;
    top: -2px;
    width: 100%;
    line-height: 24px;
    font-size: 12px;
    text-align: left;
    /* padding: 5px 10px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px;
    display: block;
    background: rgb(255, 255, 255);
    overflow: hidden;
    z-index: 9999;
}

.more{
	height: 33px;
    line-height: 33px;
    color: #b4b4b4;
    text-align: center;
}
.more span {
    font-size: 1em;
	line-height:41px;
}

.more, .more a, .more span {
    color: #b4b4b4;
}
.more .gomore:after {
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 119px 21px;
    -moz-background-size: 119px 21px;
    -o-background-size: 119px 21px;
    background-size: 119px 21px;
}
.more .gomore:after {
    display: inline-block;
    content: "";
}
.more .gomore:after {
    width: 21px;
    height: 21px;
    vertical-align: -5px;
    margin-left: 5px;
}
.more .gomore:after {
    background-position: -42px 0;
}
.keyword {padding:0 10px;margin-bottom: 100px;}
.keyword a{ background:#FFF;border: 1px solid #DDDDDD; color: #336699; display: inline-block; margin-bottom: 10px; margin-right: 10px; padding: 3px 10px; white-space: nowrap;}
.keyword a:hover {background-color: none;}